@font-face {
  font-family: 'Cascadia Code';
  src: url('fonts/CascadiaCode.ttf') format('truetype');
}

body {
  font-family: 'Cascadia Code', monospace;
  background-color: black;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  justify-content:space-between;
}

nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  justify-content:space-evenly;
}

nav ul li{
    margin-right: 50px;
    
}

a {
    color: inherit;
    text-decoration: none; /* Odstraní podtržení */
  }

  a:visited {
  color: inherit; /* nebo 'inherit' podle potřeby */
}



li:hover {
  color:rgb(16, 239, 16);
  transition: color 0.2s;
}

nav img {
  height: 200px;
  margin-right: 50px;
}

#selected{
  text-decoration: underline;
}