html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.box {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  position: absolute;
  animation: moveSquare 6s infinite;
  animation-delay: 5s;

  
}

@keyframes moveSquare {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(100px, 100px);
  }
  75% {
    transform: translate(0, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

